version: '3'

services:
  # --- GATEWAY UTAMA (Pintu Gerbang) ---
  loadbalancer:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443" 
    volumes:
      - ./lb/nginx.conf:/etc/nginx/nginx.conf
      - ./certs:/certs
    depends_on:
      - dashboard-node-1 
    networks:
      - farming-net
  
  database:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: adminpassword
      MYSQL_DATABSE: farming_db
    volumes:
      - ./db-init:/docker-entrypoint-initdb.d
    networks:
      - farming-net

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: database
    depends_on:
      - database
    networks:
      - farming-net  


  sensor-worker:
    build: ./sensor
    depends_on:
      - database
    restart: always
    networks:
      - farming-net
        
  dashboard-node-1:
    build: ./web
    depends_on:
      - database
    networks:
      - farming-net

  dashboard-node-2:
    build: ./web
    depends_on:
      - database
    networks:
      - farming-net

  dashboard-node-3:
    build: ./web
    depends_on:
      - database
    networks:
      - farming-net

networks:
  farming-net:
